Repository jenkins-x/lighthouse, pull requests merged in 2021-11, with the labels that each got.

#1383 feat: Invalidate failed polls
  pkg/poller/poller.go
  pkg/poller/pollstate/interface.go
  pkg/poller/pollstate/memory.go
Labels: size/S, approved, lgtm, ok-to-test

#1384 feat: Support commit context match pattern
  charts/lighthouse/templates/poller-deployment.yaml
  charts/lighthouse/values.yaml
  cmd/poller/main.go
  pkg/poller/poller.go
  pkg/poller/poller_test.go
Labels: size/L, approved, ok-to-test

#1380 feat: add 'team' label to labels plugin
  pkg/plugins/label/label.go
  pkg/plugins/label/label_test.go
Labels: size/S, approved, lgtm, ok-to-test

#1390 fix: skip check on repo length to support nested gitlab repos
  OWNERS
  pkg/config/keeper/query.go
  pkg/config/keeper/query_test.go
  pkg/keeper/keeper.go
Labels: size/M, approved, lgtm
