Repository jenkins-x/lighthouse, pull requests merged in 2022-05, with the labels that each got.

#1446 fix: remove resource request from step template
  .lighthouse/jenkins-x/pullrequest.yaml
  .lighthouse/jenkins-x/release.yaml
Labels: size/XS, approved

#1437 fix: Page through statuses when polling
  pkg/poller/poller.go
  pkg/poller/poller_test.go
Labels: size/M, approved, ok-to-test

#1447 fix: correct url for gitea blobs
  pkg/util/scmclient.go
  test/e2e/helpers.go
Labels: size/XS, approved, lgtm, ok-to-test
